<!doctype html>
<html data-ng-app="ImRaisingManager">
  <head>
    <title>{{ locale.title(currentPage) }}</title>
    
	<script src="http://square.github.io/crossfilter/crossfilter.v1.min.js"></script>
  	<script src="js/locales/en-us.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
  	<div id="headerBar"></div>
  	<div id="center">
  		<div id="navigation">
   	<ul>
   		<li data-ng-repeat="page in locale.pages" ><a href="#{{page.path}}">{{page.name}}</a>
   			<ul data-ng-show="page.children">
   				<li data-ng-repeat="child in page.children"> <a href="#{{child.path}}">{{child.name}}</a> </li>
   			</ul>
   		</li>
   	</ul>
   	</div>
   	<div id="content">
   		
	<div data-ng-view></div>
   	</div>
   	</div>
   	<div id="footer"></div>
   	
   	
  </body>
</html>
